*{
  font-family: 'PT Sans', sans-serif;
}

body {
    padding-bottom: 100px;
}

.navbar{
  border-radius: 0;
}

.navbar-default .container-fluid{
  padding-right:50px;
  padding-left:50px;
}

nav.navbar.navbar-default{
  margin-bottom: 0;
}

.navbar-default{
  border-color:#1F4E81;
  background-color:#1F4E81;
}

.navbar-default .navbar-toggle{
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-default .navbar-brand{
  padding-top:30px;
  padding-bottom:30px;
  font-weight:bold;
  color:#ffffff;
  font-size:24px;
}

.navbar-default .navbar-nav>li>a{
  color:#ffffff;
  padding-top:30px;
  padding-bottom: 30px;
  padding-right: 25px;
  font-size: 16px;
}

.dropdown-menu>li>a{
  color:#1F4E81;
  padding-top:5px;
  padding-bottom:5px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover, .dropdown-menu>li>a:hover{
  font-weight: bold;
  background:#1F4E81;
  color:#378BE8;
}

.navbar-default .navbar-nav>.active>a{
  font-weight: bold;
  background:#1F4E81;
  color:#378BE8;
}

.navbar-default .navbar-nav>.active>a:hover{
  background-color:#1F4E81;
  color:#378BE8;
}

.navbar-default li{
  font-size:14px;
}


a#properties{
  padding-right:30px;
}

[class*="layout-minor"] {
    width: 26%;
    float: left;
    }

[class*="block-"][class*="layout-minor"] {
    width: calc(26% - 36px);
    }

.layout-minor-invert {
    float: right;
    clear: none;
    }

[class*="layout-major"] {
    float: right;
    width: 70%;
    clear: none;
    }

[class*="block-"][class*="layout-major"] {
    width: calc(70% - 36px);
    }

.layout-major-invert {
    float: left;
    clear: both;
    }

.layout-breve {
    width: 96%;
    padding: 3em 2%;
    max-width: 80em;
    margin: 0 auto;
    float: none;
    }

[class*="block-"][class*="layout-breve"] {
    width: calc(96% - 36px);
    }

[class*="block-"][class*="layout-breve-thin"] {
    width: calc(96% - 36px);
    }

.layout-breve-thin {
    padding: 1em 2%;
    }

.messages {
    font-size: 0.95em;
}

.messages ul {
    list-style: none;
    margin: 10px 0px;
    padding-left: 0;
}

.messages ul li {
    padding: 0.1em;
}

.info,
.success,
.warning,
.error,
.validation {
    border: 2px solid;
    margin: 10px 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-position: 5px center;
    text-align: center;
}

.info {
    color: #00529B;
    border-color: #789FCC;
    background-color: #CDEAF7;
}

.success {
    color: #264409;
    border-color: #C6D880;
    background-color: #E6EFC2;
}

.warning {
    color: #514721;
    border-color: #FFD324;
    background-color: #FFF6BF;
}

.error {
    color: #8A1F11;
    border-color: #FBC2C4;
    background-color: #FBE3E4;
}

.message-item {
    text-align: center;
}

.form-control{
  border-color: #ddd;
  box-shadow:none;
  height:40px;
  color:#696969;
}

label{
  font-weight:500;
  color:#3e3e3e;
}

.btn-default{
  border-color: #ddd;
}

.btn-success{
  background-color: #44C851;
}
