.save-buttons{
  padding-top:40px;
}

.container.save-buttons{
  background-color: #1F4E81;
  padding:40px 0 0 0;
  border:none;
}


@media (max-width:768px){
  .save-buttons .btn{
    margin-left:20px;
  }

}

@media (min-width:992px) {
  .save-buttons .btn-default{
    margin-left:40px;
  }

}
