
/**Header**/
p.reporter-subheader{
  margin-left:5px;
}

.nav-pills{
  margin-top: 60px;
}

.nav-pills>li>a{
  padding:5px 15px;
}

.nav-pills>li.active>a{
  background-color: #F6661B;
  border-radius:8px;
}

.subnav{
  border-bottom:2px solid #eee;
  padding-bottom:10px;
  margin-bottom:50px;
  margin-top:30px;
}

.subnav h1{
  margin-bottom:5px;
}

/**Sidebar**/
th, td { padding: 10px 15px; }

th, td { text-align: center; }

.fa-list-item {
    float: right;
}

.list-group-item{
  border-color:#ddd;
  padding:15px 15px 10px;
}

.list-group-item-title {
  color: #fff;
  background-color: #1F4E81;
  padding-top:20px;
  border-color:#1F4E81;
}

.list-group-item.active{
  border-color:#ddd;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover  {
  color: #F6661B;
  background-color: #fff;
  font-weight:500;
  border-color:#ddd;
}

.uploaded-doc, #file-upload-form {
    margin-left: 20px;
}

.upload-submit-button {
    margin-top: 10px;
}

.doc-attrs {
    list-style-type: none;
}

.doc-date {
    position: relative;
    top: 20px;
}

.doc-date-text {
    font-size: 1.2rem;
    color: grey;
}

.inline {
    display: inline-block;
}

.external-asset {
  max-width: 25%;
  height: auto;
}

.doc-name-text {
    font-size: 1.9rem;
}

.reporter-subheader {
  color: #777;
}



/**Body**/
.report h4{
  font-size:22px;
  font-weight: bold;
  color:#1F4E81;
  margin-bottom: 30px;
}

.form-group{
  margin-bottom:35px;

}

.form-control{
  border-color: #ddd;
  box-shadow:none;
  height:40px;
  color:#696969;
}

label{
  font-weight:500;
  color:#3e3e3e;
}

.tt-menu {
  text-align: left;
}

.typeahead,
.tt-query,
.tt-hint {
/*  width: 396px;*/
  width: 100%;
  height: 40px;
  padding: 8px 12px;
  line-height: 30px;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.twitter-typeahead {
    display: block !important;
}

.tt-menu {
  width: 422px;
  margin: 12px 0;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

/**Media Queries**/

@media (min-width:992px) {
   .container {
    width:900px
  }
}

@media (min-width:992px) {
  .list-group{
    width:250px;
  }

}
