
/**Title and Action Buttons**/
.report-pg-header h2{
  font-weight: bold;
  display: inline;
  margin-right: 20px;
}

.input-group{
  width:300px;
}

button.btn.btn-default, button.btn.btn-success{
  height: 40px;
}

button.btn.btn-success{
  position: relative;
  bottom:16px;
  margin-left:10px;
}

form#search{
  display: inline-block;
}


/**Table**/
.table {
  border-radius:8px;
  border:1px solid #ddd;
  margin-bottom:0;
  font-size:14px;
  color:3e3e3e;
}

.table-wrapper{
  border:1px solid #eeeeee;
  border-radius:4px;
  overflow: hidden;
  margin-bottom:20px;
}

thead{
  background-color:#1F4E81;
  color:#ffffff;
  border-bottom:none;
}

th{
  font-weight: normal;

}

.table>thead>tr>th.active{
  background-color: #2967AB;
}

.table>thead>tr>th, .table>tbody>tr>td{
  padding-top: 25px;
  padding-bottom:8px;
  padding-left: 25px;
  border-color:#eeeeee;
}





/**Checkbox**/
.table-cell-checkbox {
    pointer-events: none;
    cursor: default;
}

.table-cell-checkbox input{
    pointer-events: auto;
    cursor: default;
}

.inactive {
    pointer-events: none;
    cursor: default;
}









/*Pagination*/
.pagination{
  margin: 0;
}
