/*table.dataTable tr.odd { background-color: #CCC; }
table.dataTable tr.even { background-color: #FFF; }*/


table {
  border-radius:8px;
  border:1px solid #ddd;
}



/**Table header**/

table.dataTable thead th, table.dataTable thead td{
  border-bottom: 1px solid #ddd;
}

table.dataTable thead th, table.dataTable tfoot th{
  font-weight: normal;
}

thead{
  background-color:#1F4E81;
  color:#ffffff;
  border-radius: 8px;
}

table.dataTable thead th{
  padding:20px 15px 10px;
}

th{
  width:200px;
}

th:hover{
  background:#2B6CB3;
  color:#ffffff;
}


/**Table rows**/
table.dataTable tbody th, table.dataTable tbody td{
  padding:15px;
}

table.dataTable.row-border tbody td {
  border-color:#eee;
}


/**Table wrapper**/
.dataTables_wrapper{
  padding-top:50px;
  padding-bottom:100px;
}

.dataTables_filter,
.dataTables_length{
  padding-bottom:20px;
}

.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate{
  padding-top:20px;
}

th.sorting_asc, th.sorting_desc {
  background-color: #2B6CB3;
  color: #ffffff;
}
