<div class="layout-breve">
    <ul class="nav nav-pills pull-right">
        <li class="dropdown" role="presentation" id="props-nav-tab" >
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-map-marker"></i>&nbsp; Properties <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/workflow/visit_queue"><i class="fa fa-list"></i>&nbsp; Visit List</a></li>
                <li><a href="/workflow/map"><i class="fa fa-map"></i>&nbsp; Map</a></li>
            </ul>
        </li>
        <li role="presentation" id="calls-nav-tab"><a href="/workflow/calls"><i class="fa fa-phone"></i>&nbsp; Reports</a></li>
        <li role="presentation" id="cases-nav-tab"><a href="/workflow/cases"><i class="fa fa-file"></i>&nbsp; Cases</a></li>
        <li role="presentation" id="audit-nav-tab"><a href="/workflow/call_audit_log"><i class="fa fa-eraser"></i>&nbsp; Audit Log</a></li>
        <li role="presentation" id="users-nav-tab"><a href="#"><i class="fa fa-users"></i>&nbsp; Users</a></li>
    </ul>
</div>
