{% extends "base/layout.html" %}

{% load staticfiles %}

{% block assets %}

<link rel="stylesheet" href="{% static 'intake/css/intake.css' %}">

{% endblock %}

{% block body %}

<div class="intake-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <div class="header-content">
                    {% if lang == 'en' %}
                        <h1>Thanks, we've got it!</h1>
                        <p>Your report has been sent to the Community Services Section of the police department. If you've signed up for progress updates, you'll receive one as soon as someone starts working on your request. Take care!</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="intake-body">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                {% if report_id %}
                    {% if lang == 'en' %}
                        <h4>Your reference number is {{ report_id }}</h4>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
