{% extends "base/layout.html" %}

{% load staticfiles %}

{% block assets %}

<link rel="stylesheet" href="{% static 'intake/css/intake.css' %}">

{% endblock %}

{% block body %}

{% load widget_tweaks %}

<div class="intake-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-sm-offset-1">
                <div class="header-content contact-intro">
                    <h1>{% if lang == 'en' %}Tell us more about you.{% elif lang == 'es' %}TODO{% endif %}</h1>
                    <p>{% if lang == 'en' %}Although it is not required, it’s most helpful to our staff if we have your name and contact information in case we need any further details on how to best resolve this issue. <b>We will never share your information with anyone other than authorized city staff.{% elif lang == 'es' %}Es &uacute;til si tenemos su nombre e informaci&oacute;n de contacto en caso de que necesitemos m&aacute;s detalles sobre c&oacute;mo resolver mejor este problema. Nunca compartiremos su informaci&oacute;n con nadie que no sea personal municipal autorizado.{% endif %}</b></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container intake-body">
    <form method="post">
        {% csrf_token %}

        <input type="hidden" name="lang" value="{{ lang }}">
        <input type="hidden" name="report_id" value="{{ report_id }}">

        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">

                {{ form.non_field_errors }}

                <h4>{% if lang == 'en' %}Contact Information{% elif lang == 'es' %}TODO{% endif %}</h4>

                <div class="form-group">
                    <label for="{{form.reporter_name.id_for_label}}">{% if lang == 'en' %}What is your name?{% elif lang == 'es' %}&iquest;Cu&aacute;l es tu nombre?{% endif %}</label>
                    {{ form.reporter_name|add_class:"form-control" }}
                    {{ form.reporter_name.errors }}
                </div>

                <div class="form-group">
                    <label for="{{form.reporter_phone.id_for_label}}">{% if lang == 'en' %}What is your phone number (including area code)?{% elif lang == 'es' %}&iquest;Cu&aacute;l es tu n&uacute;mero de tel&eacute;fono?{% endif %}</label>
                    {{ form.reporter_phone|add_class:"form-control" }}
                    {{ form.reporter_phone.errors }}
                </div>

                <div class="form-group">
                    <label for="{{form.reporter_address.id_for_label}}">{% if lang == 'en' %}What is your home address?{% elif lang == 'es' %}&iquest;Cual es la direcci&oacute;n de tu casa?{% endif %}</label>
                    {{ form.reporter_address|add_class:"form-control" }}
                    {{ form.reporter_address.errors }}
                </div>

                <div class="form-group">
                    <label for="{{form.reporter_email.id_for_label}}">{% if lang == 'en' %}What is your email address?{% elif lang == 'es' %}&iquest;Cual es tu direcci&oacute;n de correo electr&oacute;nico?{% endif %}</label>
                    {{ form.reporter_email|add_class:"form-control" }}
                    {{ form.reporter_email.errors }}
                </div>

                <div class="form-group">
                    <label for="{{form.reporter_contact_method.id_for_label}}">{% if lang == 'en' %}Where should we send you updates on any progress?{% elif lang == 'es' %}&iquest;D&oacute;nde debemos enviarle el recibo y progresar actualizaciones para este informe?{% endif %}</label>
                    {{ form.reporter_contact_method|add_class:"form-control" }}
                    {{ form.reporter_contact_method.errors }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-sm-offset-1">
                <input type="submit" class="btn btn-success btn-lg" value="{% if lang == 'en' %}Next{% elif lang == 'es' %}TODO{% endif %}">
            </div>
        </div>
    </form>
</div>

<div class="container-fluid footer">
    <div class="row">
        <div class="col-md-6">
            <p>This is an official City of Vallejo website made with Code for America.</p>
        </div>

        <div class="col-md-6">
            <ul class="footer-items pull-right">
                <li><a href="/workflow"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Staff Compass</a></li>
                <li><a target="_blank" href="http://vallejo.hosted.civiclive.com/site_policy"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Terms of Service</a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
