<div class="container">

    <div class="row subnav">
      <div class="col-md-8">
        <h1>175 Red Rock Way<h1>
      </div>
      <div class="col-md-4">
        <ul class="nav nav-pills pull-right">
          <li role="presentation" class="active"><a href="#">Reports</a></li>
          <li role="presentation" class="disabled"><a href="#">Investigation</a></li>
          <li role="presentation" class="disabled"><a href="#">Case</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <div class="list-group">
          <a href="#" class="list-group-item active">8/30/15</a>
          <a href="#" class="list-group-item">8/1/15</a>
          <a href="#" class="list-group-item">4/3/14</a>
          <a href="#" class="list-group-item">2/28/15</a>
        </div>
      </div>

      <div class="col-md-8 col-md-offset-1 report">
        <h4> Reported on 8/30/15 by Becky Sanders </h4>

        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Reporter name:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Reporter phone:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Address of problem:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Description of problem:</label>
            <textarea class="form-control" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Notes:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">History lookup:</label>
            <div class="row">
              <div class="col-md-12">
                  <table class="table table-hover table-bordered">
                      <thead>
                        <tr>
                          <th>Date</th>
                          <th>Source</th>
                          <th>Notes</th>
                        </tr>

                        <tr>
                          <td>5/15/15</td>
                          <td>RMS</td>
                          <td>589 - This is what happened</td>
                        </tr>

                        <tr>
                          <td>1/31/15</td>
                          <td>RMS</td>
                          <td>439 - Something happened here</td>
                        </tr>

                        <tr>
                          <td>7/4/13</td>
                          <td>CRW</td>
                          <td>Notification for this thing</td>
                        </tr>
                      </thead>
                  </table>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Type:</label>
            <select class="form-control">
              <option>Location</option>
              <option>Communication</option>
            </select>
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Tags:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Assignee:</label>
            <select class="form-control">
              <option>Tina</option>
              <option>Kenny</option>
              <option>Andrew</option>
              <option>Jazmyn</option>
              <option>Joanna</option>
            </select>
          </div>

        </form>

        <div class="dropdown pull-right">
          <input type"submit"><button type="button" class="btn btn-success btn-lg pull-right dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Next Action
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Investigate</a></li>
            <li><a href="#">Forward</a></li>
            <li><a href="#">Resolve</a></li>
          </ul>
        </div>


      </div>
