{% extends "base/layout.html" %}

{% load staticfiles %}

{% block assets %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

<link rel="stylesheet" href="{% static "base/base.css" %}"/>
<link rel="stylesheet" href="{% static "workflow/css/landing.css" %}"/>

{% endblock %}

{% block body %}


<div class="container">
    <div class="row landing-header">
      <div class="col-sm-12 welcome">
        <h2>Hey {{ user.first_name }}, here's what's happened since you left.</h2>
      </div>
    </div>

    <div class="row landing-btns">
      <div class="col-md-8 col-sm-12 search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="">
          <span class="input-group-addon">Search</span>
        </div>
      </div>
      <div class="col-md-4">
        <a href="/workflow/add_report"><button type="button" class="btn btn-success">+&nbsp;New Report</button></a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-default monthly-overview">
          <div class="panel-heading">
            <h3 class="panel-title">Monthly Overview</h3>
          </div>
          <div class="panel-body">
            <p>Current month (to date):</p>
            <ul>
              <li>{{ current_month_new_reports }} new reports</li>
              <li>{{ current_month_new_cases }} opened cases</li>
              <li>33 resolved cases</li>
            </ul>
            <p>Last month:</p>
            <ul>
              <li>{{ last_month_new_reports }} new reports</li>
              <li>{{ last_month_new_cases }} opened cases</li>
              <li>33 resolved cases</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-4 ">
        <div class="panel panel-default new-reports">
          <div class="panel-heading">
            <h3 class="panel-title">12 New Reports</h3>
          </div>

          <table class="table table-hover">
            <thead>
              <tr>
                <th>Received</th>
                <th>Problem Address</th>
                <th>Reporter</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>Today</td>
                <td>1017 Louisiana</td>
                <td>Rose Beck</td>
              </tr>

              <tr>
                <td>Yesterday</td>
                <td>GVRD</td>
                <td>Sandy</td>
              </tr>

              <tr>
                <td>10/25/15</td>
                <td>---</td>
                <td>Jerry Hill</td>
              </tr>

              <tr>
                <td>10/25/15</td>
                <td>325 Florida</td>
                <td>Hilary Clinton</td>
              </tr>

              <tr>
                <td>10/25/15</td>
                <td>Solano and Georgia</td>
                <td>---</td>
              </tr>

              <tr>
                <td>10/24/15</td>
                <td>117 B St</td>
                <td>Andrew S</td>
              </tr>
            </tbody>

          </table>

        </div>
      </div>

      <div class="col-md-4 ">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Recent Activity</h3>
          </div>

          <table class="table table-hover">
            <thead>
              <tr>
                <th>Time</th>
                <th>Activity</th>
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>12:01pm</td>
                <td>Hans visited 553 Maine St</td>
              </tr>

              <tr>
                <td>10:11am</td>
                <td>Lt. Park closed a case at 172 Santa Clara</td>
              </tr>

              <tr>
                <td>9:00am</td>
                <td>Garcia made 883 Florida into a case</td>
              </tr>

              <tr>
                <td>Yesterday</td>
                <td>You contacted the owner of 313 B St</td>
              </tr>

              <tr>
                <td>Yesterday</td>
                <td>Karen forwarded you 4676 Georgia St</td>
              </tr>
            </tbody>

          </table>

        </div>
      </div>



      <div class="col-sm-12">
        <div class="panel panel-default map-panel">
          <div class="panel-heading">
            <h3 class="panel-title">Where reports are coming from this month</h3>
          </div>
          <div class="panel-body">
            Panel content
          </div>
        </div>
      </div>
    </div>


</div>


{% endblock %}
