{% extends "base/layout.html" %}

{% load staticfiles %}

{% block assets %}

<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

<link rel="stylesheet" href="{% static "workflow/css/landing.css" %}"/>
<script src='{% static "workflow/js/landing.js" %}'></script>


{% endblock %}

{% block body %}

<div class="container">
    <div class="row landing-header">
        <div class="col-md-10 welcome">
            <h2>Hey {{ user.first_name }}, here's what's happening:</h2>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <a href="/workflow/add_report" class="add-report"><button type="button" class="btn btn-success btn-block btn-lg">+&nbsp;New Report</button></a>
        </div>

        <form id='report-ids'>
            <input type="hidden" name='report-ids' value="{{ report_ids }}">
        </form>
    </div>  <!-- end header row -->

    <div class="row">
        <div class="col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Recent case activity in the last 48 hours</h3>
                </div>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Who</th>
                            <th>Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for case_action in case_actions %}
                            <tr>
                                <td>{{ case_action.timestamp|date:"d/m/y" }} {{ case_action.timestamp|time:"H:i" }}</td>
                                <td>{{ case_action.user.get_full_name|default_if_none:"" }}</td>
                                <td>{{ case_action.description|slice:":32" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-8 ">
            <div class="panel panel-default new-reports">
                <div class="panel-heading">
                    <h3 class="panel-title">New reports in the last 48 hours</h3>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Received</th>
                            <th>Problem Address</th>
                            <th>Reporter</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recent_report in recent_reports %}
                            <tr>
                                <td>{{ recent_report.reported_datetime|date:"d/m/y" }} {{ recent_report.reported_datetime|time:"H:i" }}</td>
                                <td>{{ recent_report.get_address|default_if_none:"" }}</td>
                                <td>{{ recent_report.name|default_if_none:"" }}</td>
                                <td>{{ recent_report.problem|default_if_none:""|slice:":32" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end upper row -->

    <div class="row">
        <div class="col-md-4 ">
            <div class="panel panel-default workload">
                <div class="panel-heading">
                    <h3 class="panel-title">What is our workload?</h3>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Metric</th>
                            <th>This Month</th>
                            <th>Last Month</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Incoming Reports</td>
                            <td><b>{{ current_month_new_reports }}</b></td>
                            <td>{{ last_month_new_reports }}</td>
                        </tr>
                        <tr>
                            <td>Active Verifications</td>
                            <td><b>{{ verifications_in_progress_this_month }}</b></td>
                            <td>{{ verifications_in_progress_last_month }}</td>
                        </tr>
                        <tr>
                            <td>Opened Cases</td>
                            <td><b>{{ current_month_new_cases }}</b></td>
                            <td>{{ last_month_new_cases }}</td>
                        </tr>
                        <tr>
                            <td>Resolved Cases</td>
                            <td><b>{{resolved_cases_this_month}}</b></td>
                            <td>{{resolved_cases_last_month}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="panel panel-default issue-type">
                <div class="panel-heading">
                    <h3 class="panel-title">What are the most reported issues?</h3>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>This Month</th>
                            <th>Last Month</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in reports_by_report_type %}
                            <tr><td>{{row.1}}</td><td><b>{{row.2}}</b></td><td>{{row.3}}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-md-4 ">
            <div class="panel panel-default issue-type">
                <div class="panel-heading">
                    <h3 class="panel-title">Where are incoming reports coming from?</h3>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Source</th>
                            <th>This Month</th>
                            <th>Last Month</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in reports_by_source %}
                            <tr><td>{{row.1}}</td><td><b>{{row.2}}</b></td><td>{{row.3}}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end lower row -->

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default map-panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Where in Vallejo are problems persisting? (Showing the last 2 weeks of reports)</h3>
                </div>
                <div id="map" class="panel-body"></div>
            </div>
        </div>
    </div> <!-- end map row -->
</div> <!-- end container -->

{% endblock %}
