{% extends "base/layout.html" %}

{% load staticfiles %}

{% block assets %}

<link rel="stylesheet" href="{% static "workflow/css/login.css" %}"/>


{% endblock %}

{% block body %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>COMPASS</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="login-form">
        <form method="post">
            {% csrf_token %}
          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username">
              </div>
              <div class="form-group password-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
              <input type="submit" class="btn btn-success btn-lg pull-right" value="Log in">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
