{% extends "base/layout.html" %}

{% load staticfiles %}

{% block assets %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />

<link rel="stylesheet" href="{% static "base/bootstrap-switch.min.css" %}"/>
<script src="{% static "base/bootstrap-switch.min.js" %}"></script>

<link rel="stylesheet" href="{% static "base/base.css" %}"/>
<link rel="stylesheet" href="{% static "workflow/css/map.css" %}"/>
<script src="{% static "workflow/js/map.js" %}"></script>
{% endblock %}

{% block body %}
<div class="layout-breve" id="cont">
    <div id="map"></div>
    <div id="filterbox">
        <table>
            <tr>
                <td><input type="checkbox" id="cssCheckbox" name="css"></td>
                <td><h5>CSS</h5></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="scf"></td>
                <td><h5>See Click Fix</h5></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="crw"></td>
                <td><h5>CRW</h5></td>
            </tr>
            <tr>
                <td><input type="checkbox" name="rms"></td>
                <td><h5>RMS</h5></td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}
