<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=1024, user-scalable=no">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>

{% load staticfiles %}

<link rel="stylesheet" href="{% static "workflow/bootstrap-switch.min.css" %}"/>
<script src="{% static "workflow/bootstrap-switch.min.js" %}"></script>

<link rel="stylesheet" href="{% static "workflow/map.css" %}"/>
<script src="{% static "workflow/map.js" %}"></script>

<title>...placeholder...</title>
</head>

<body>
    <div id="cont">
        <div id="map"></div>
        <div id="filterbox">
            <table>
                <tr>
                    <td><input type="checkbox" checked name="css"></td>
                    <td><h5>CSS</h5></td>
                </tr>
                <tr>
                    <td><input type="checkbox" checked name="scf"></td>
                    <td><h5>See Click Fix</h5></td>
                </tr>
                <tr>
                    <td><input type="checkbox" name="crw"></td>
                    <td><h5>CRW</h5></td>
                </tr>
                <tr>
                    <td><input type="checkbox" checked name="rms"></td>
                    <td><h5>RMS</h5></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>
