{% extends "base/layout.html" %}

{% load staticfiles %}

{% block assets %}

<script src="{{ settings.STATIC_LIB_BASE }}jquery/dist/jquery.min.js"></script>

<link href="{{ settings.STATIC_LIB_BASE }}bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="{{ settings.STATIC_LIB_BASE }}bootstrap/dist/js/bootstrap.min.js"></script>

<!-- <link href="{{ settings.STATIC_LIB_BASE }}datatables/media/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="{{ settings.STATIC_LIB_BASE }}datatables/media/js/jquery.dataTables.min.js"></script>
 -->
<link rel="stylesheet" href="{% static "base/base.css" %}"/>
<link rel="stylesheet" href="{% static "workflow/css/table_page_new.css" %}"/>
<script src="{% static "workflow/js/reports.js" %}"></script>

{% endblock %}

{% block body %}

<script>
$(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
    $(".table-header-cell").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>

<div class="container">

  <div class="row report-pg-header">

    <div class="col-md-4 col-sm-12">
        <div class="">
          <h1>Reports Inbox</h1>
        </div>
    </div>

    <div class="col-md-8 col-sm-12">
        <div class="report-action-btns pull-right">
            <button form="delete-selected" class="btn btn-default" type="submit">Delete selected</button>

            <form id="search" method="get">
              <div class="input-group">
                <input type="text" class="form-control" name="search" value="{% if search_get_param %}{{search_get_param}}{% endif %}">
                <span class="input-group-btn">
                  <button form="search" class="btn btn-default" type="submit">Search</button>
                </span>
              </div>
            </form>

            <a href="/workflow/add_report"><button type="button" class="btn btn-success">+ New Report</button></a>
        </div>
    </div>

  </div>


  <div class="row">
      <div class="col-md-12 table-responsive">
        <div class="table-wrapper">
          <form id="delete-selected" method="post">
              {% csrf_token %}
              <input type="hidden" name="sort_key" value="{{ sort_key }}">
              <input type="hidden" name="sort_order" value="{{ sort_order }}">
              <input type="hidden" name="search_get_param" value="{{ search_get_param }}">
              <input type="hidden" name="offset" value="{{ offset }}">
              <input type="hidden" name="limit" value="{{ limit }}">

              <table class="table table-hover">
                <thead>
                  <tr>
                      <th></th>
                      <th
                          data-href="?offset={{ offset }}&amp;limit={{ limit }}&amp;{% if search_get_param %}search={{ search_get_param }}{% endif %}&amp;sort_key=reported_datetime&amp;{% if sort_key == 'reported_datetime' and sort_order == 'DESC' %}sort_order=ASC{% else %}sort_order=DESC{% endif %}"
                          class="{% if sort_key == 'reported_datetime' %}active {% endif %}"
                          >Received{% if sort_key == 'reported_datetime' %}{% if sort_order = 'DESC' %}&nbsp;&nbsp;<i class="fa fa-caret-down"></i>{% else %}&nbsp;&nbsp;<i class="fa fa-caret-up"></i>{% endif %}{% endif %}</th>
                      <th
                          data-href="?offset={{ offset }}&amp;limit={{ limit }}&amp;{% if search_get_param %}search={{ search_get_param }}{% endif %}&amp;sort_key=reporter_name&amp;{% if sort_key == 'reporter_name' and sort_order == 'ASC' %}sort_order=DESC{% else %}sort_order=ASC{% endif %}"
                          class="{% if sort_key == 'reporter_name' %}active {% endif %}"
                          >Reporter{% if sort_key == 'reporter_name' %}{% if sort_order = 'DESC' %}&nbsp;&nbsp;<i class="fa fa-caret-down"></i>{% else %}&nbsp;&nbsp;<i class="fa fa-caret-up"></i>{% endif %}{% endif %}</th>
                      <th
                          data-href="?offset={{ offset }}&amp;limit={{ limit }}&amp;{% if search_get_param %}search={{ search_get_param }}{% endif %}&amp;sort_key=problem_address&amp;{% if sort_key == 'problem_address' and sort_order == 'ASC' %}sort_order=DESC{% else %}sort_order=ASC{% endif %}"
                          class="{% if sort_key == 'problem_address' %}active {% endif %}"
                          >Address{% if sort_key == 'problem_address' %}{% if sort_order = 'DESC' %}&nbsp;&nbsp;<i class="fa fa-caret-down"></i>{% else %}&nbsp;&nbsp;<i class="fa fa-caret-up"></i>{% endif %}{% endif %}</th>
                      <th
                          data-href="?offset={{ offset }}&amp;limit={{ limit }}&amp;{% if search_get_param %}search={{ search_get_param }}{% endif %}&amp;sort_key=problem&amp;{% if sort_key == 'problem' and sort_order == 'ASC' %}sort_order=DESC{% else %}sort_order=ASC{% endif %}"
                          class="{% if sort_key == 'problem' %}active {% endif %}"
                          >Description{% if sort_key == 'problem' %}{% if sort_order = 'DESC' %}&nbsp;&nbsp;<i class="fa fa-caret-down"></i>{% else %}&nbsp;&nbsp;<i class="fa fa-caret-up"></i>{% endif %}{% endif %}</th>
                      <th
                          data-href="?offset={{ offset }}&amp;limit={{ limit }}&amp;{% if search_get_param %}search={{ search_get_param }}{% endif %}&amp;sort_key=notes&amp;{% if sort_key == 'notes' and sort_order == 'ASC' %}sort_order=DESC{% else %}sort_order=ASC{% endif %}"
                          class="{% if sort_key == 'notes' %}active {% endif %}"
                          >Notes{% if sort_key == 'notes' %}{% if sort_order = 'DESC' %}&nbsp;&nbsp;<i class="fa fa-caret-down"></i>{% else %}&nbsp;&nbsp;<i class="fa fa-caret-up"></i>{% endif %}{% endif %}</th>
                  </tr>
                </thead>

                <tbody>
                  {% for report in reports_data %}
                      <tr class="clickable-row" data-href="/workflow/report/{{ report.0 }}">
                          <td class="table-cell-checkbox"><div><input type="checkbox" name="to_delete" value="{{ report.0 }}"></div></td>
                          <td>{{ report.1 }}</td>
                          <td>{{ report.2 }}</td>
                          <td>{{ report.3 }}</td>
                          <td>{{ report.4 }}</td>
                          <td>{{ report.5 }}</td>
                      </tr>
                  {% endfor %}
                </tbody>
              </table>
          </form>
        </div>
      </div>
  </div>

    <!--old pagination
    <div class="row">
        <div class="col-md-12">
            {% if pagination_keys %}
                <div class="pagination">
                    <ul>
                        {% for pagination_key in pagination_keys %}
                            <li class="{% if pagination_key.0 == active_page_number %}active{% endif %}"><a class="{% if pagination_key.1 == None %}inactive{% endif %}" href="{% if pagination_key.1 == None %}#{% else %}/workflow/reports/?sort_key={{ sort_key }}&amp;sort_order={{ sort_order }}&amp;offset={{ pagination_key.1}}{% if search_get_param %}&amp;search={{ search_get_param }}{% endif %}&amp;limit={{ limit }}{% endif %}">{{ pagination_key.0 }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
    </div>
    -->

    <div class="row">
      <div class="col-md-5">
        <p class="table-counter">Showing 10 of 158 reports</p>
      </div>

      <div class="col-md-7">
        {% if pagination_keys %}
        <nav class="pull-right">
            <ul class="pagination">
                {% for pagination_key in pagination_keys %}
                    <li class="{% if pagination_key.0 == active_page_number %}active{% endif %}">
                        <a
                            class="{% if pagination_key.1 == None %}inactive{% endif %}"
                            href="{% if pagination_key.1 == None %}#{% else %}/workflow/reports/?sort_key={{ sort_key }}&amp;sort_order={{ sort_order }}&amp;offset={{ pagination_key.1}}{% if search_get_param %}&amp;search={{ search_get_param }}{% endif %}&amp;limit={{ limit }}{% endif %}">{{ pagination_key.0 }}</a>
                    </li>
                {% endfor %}
            </ul>
        </nav>
        {% endif %}

      </div>
  </div>

</div>  <!-- End container -->
{% endblock %}
