{% extends "base/layout.html" %}

{% load staticfiles %}

{% block assets %}
<script type='text/javascript' src="{{ settings.STATIC_LIB_BASE }}jquery/dist/jquery.min.js"></script>

<link href="{{ settings.STATIC_LIB_BASE }}bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<script type='text/javascript' src="{{ settings.STATIC_LIB_BASE }}bootstrap/dist/js/bootstrap.min.js"></script>

<script type='text/javascript' src="{% static "workflow/js/typeahead.bundle.js" %}"></script>

<link rel="stylesheet" href="{% static "base/base.css" %}"/>
<link rel="stylesheet" href="{% static "workflow/css/workflow.css" %}"/>
<link rel="stylesheet" href="{% static "workflow/css/verification.css" %}"/>

<script type='text/javascript' src="{% static "workflow/js/verification.js" %}"></script>

<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>

{% endblock %}

{% block body %}

{% load widget_tweaks %}

<form id="verification-form" method="POST">

    {% csrf_token %}

    <div class="container">
        {{ verfication_form.non_field_errors }}

        <div class="row subnav">
            <div class="col-md-8 col-sm-7 col-xs-12">
                <h1>{{ property_address }}</h1>
                <p class="reporter-subheader"> reported on {{ form.reported_datetime.value|date }} by {{ form.name.value }}</p>
            </div>

            <div class="col-md-4 col-sm-5 col-xs-12">
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class=""><a href="/workflow/report/{{ report_id }}">Reports</a></li>
                    <li role="presentation" class="active"><a href="#">Verification</a></li>
                    {% if case_id %}
                        <li role="presentation"><a href="/workflow/case/{{ case_id }}">Case</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 pane-selectors">
                <div class="list-group">
                    <h5 class="list-group-item list-group-item-title">Verification</h5>
                    <a href="#prop-details" class="list-group-item active">Property Details<span class="fa fa-list-item fa-angle-right"></span></a>
                    <a href="#contact-sheet" class="list-group-item">Contact Sheet<span class="fa fa-list-item fa-angle-right"></span></a>
                    <a href="#docs" class="list-group-item">Documents<span class="fa fa-list-item fa-angle-right"></span></a>
                </div>
            </div>

            <!-- Property Details pane -->
            <div class="col-sm-7 col-sm-offset-1 report tab-pane" id="prop-details">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Property Details</h4>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="map-placeholder"><p>Google map</p></div>
                    </div>
                </div>

                <div class="row property-photos">
                    <div class="col-xs-12 col-sm-3">
                        <a href="#" class="thumbnail active"></a>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <a href="#" class="thumbnail"></a>
                    </div>
                    <div class="col-xs-12 col-sm-3">
                        <a href="#" class="thumbnail"></a>
                    </div>
                </div>

                <!-- TOOD: need to figure out how to nest this inside main form <div class="row new-upload">
                    <div class="col-sm-12">
                        <form id="file-upload-form">
                            <div class="form-group">
                                <label for="{{ form.name.id_for_label }}">Upload a photo:</label>
                                <input type="file" name="uploadDoc">
                            </div>
                        </form>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label>Property Description:</label>
                            <textarea id="" maxlength="256" name="{{ verification_form.property_description.html_name }}" class="form-control" rows="5">{% if verification_form.property_description.value %}{{ verification_form.property_description.value }}{% endif %}</textarea>
                            {{ verification_form.property_description.errors }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Water Services:</label>
                            <input name="{{ verification_form.water.html_name }}" type="checkbox">
                            {{ verification_form.water.errors }}
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>PGE Services:</label>
                            <input name="{{ verification_form.pge.html_name }}" type="checkbox">
                            {{ verification_form.pge.errors }}
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Occupied/Boarded:</label>
                            <input name="{{ verification_form.boarded.html_name }}" type="checkbox">
                            {{ verification_form.boarded.errors }}
                        </div>
                    </div>
                </div>
            </div>  <!-- end Report Details pane -->

            <!-- Contact Sheet pane -->
            <div class="tab-pane" id="contact-sheet">
                <div class="col-sm-7 col-sm-offset-1 report">
                    <h4>Contact Sheet</h4>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="{{ form.owner_name.id_for_label }}">Property Owner:</label>
                                {{ verfication_form.owner_name|add_class:"form-control" }}
                                {{ verfication_form.owner_name.errors }}
                            </div>
                        </div>

                        <div class="col-sm-12">
                            <div class="fieldWrapper form-group">
                                <label for="{{ form.owner_address.id_for_label }}">Owner Address:</label>
                                {{ verfication_form.owner_address|add_class:"form-control" }}
                                {{ verfication_form.owner_address.errors }}
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="fieldWrapper form-group owner-phone">
                                <label for="{{ form.owner_primary_contact.id_for_label }}">Phone:</label>
                                {{ verfication_form.owner_primary_contact|add_class:"form-control" }}
                                {{ verfication_form.owner_primary_contact.errors }}
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="fieldWrapper form-group owner-email">
                                <label for="{{ form.owner_secondary_contact.id_for_label }}">Email:</label>
                                {{ verfication_form.owner_secondary_contact|add_class:"form-control" }}
                                {{ verfication_form.owner_secondary_contact.errors }}
                            </div>
                        </div>

                    </div>

                    <div class="contact-log-section">
                        <label>Contact Log</label>
                          <div class="row">
                              <div class="col-sm-12">
                                  <div class="table-wrapper">
                                      <table class="table table-hover small-table" id="call-log">
                                          <thead>
                                              <tr>
                                                  <th>Date</th>
                                                  <th>Caller</th>
                                                  <th>Type</th>
                                                  <th>Description</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                              <tr>
                                                  <td>Today</td>
                                                  <td>TinaE</td>
                                                  <td>Phone</td>
                                                  <td>Left message with assistant to call back</td>
                                            </tr>

                                            <tr>
                                                <td>10/15/15</td>
                                                <td>TinaE</td>
                                                <td>Phone</td>
                                                <td>Left message asking if she received email</td>
                                            </tr>

                                            <tr>
                                                <td>10/10/15</td>
                                                <td>Karen</td>
                                                <td>Email</td>
                                                <td>First contact; informed her of squatters</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div> <!--table wrapper-->
                                <a class="pull-right" href="#" data-toggle="modal" data-target="#myModal">Add Contact</a>
                            </div>
                        </div>
                    </div><!--contact log table-->
                </div>
            </div> <!-- end Contact Sheet pane -->

            <!-- Contact Log Modal-->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Add Contact</h4>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <form>
                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="form-group">
                                <label for="">Date:</label>
                                <input type="" class="form-control" id="" placeholder="">
                            </div>
                        </div>

                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="form-group">
                                <label for="">Caller:</label>
                                <input type="" class="form-control" id="" placeholder="">
                            </div>
                        </div>

                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="form-group">
                                <label for="">Type:</label>
                                <input type="" class="form-control" id="" placeholder="">
                            </div>
                        </div>

                        <div class="col-sm-10 col-sm-offset-1">
                            <div class="form-group">
                                <label for="">Description:</label>
                                <textarea class="form-control" rows="3"></textarea>
                            </div>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Documents pane -->
            <div class="tab-pane" id="docs">
                <div class="col-sm-7 col-sm-offset-1 report">
                    <h4>Verification Documents</h4>

                    {% for uploaded_doc in uploaded_docs %}
                        <div class="row uploaded-doc">
                            <div class="col-sm-4">
                                <img src="{{ uploaded_doc.thumbnail_url }}">
                            </div>

                            <div class="col-sm-8">
                                <ul class="doc-attrs">
                                    <li class="doc-name"><h5 class="doc-name-text">{{ uploaded_doc.name }}</h5></li>
                                    <li class="doc-link"><a href="#">{{ uploaded_doc.filename }}</a></li>
                                    <li class="doc-date"><p class="doc-date-text">Added: {{ uploaded_doc.added }}</p></li>
                                </ul>
                            </div>
                        </div>

                    {% endfor %}

                    <!-- TODO: need to figure out how to nest upload form inside other form <div class="row new-upload">
                        <div class="col-sm-12">
                            <form id="file-upload-form">
                                <h4>Upload a new file</h4>
                                <input type="file" name="uploadDoc">
                            </form>
                        </div>
                    </div>  -->

                </div>
            </div> <!-- end Documents pane -->

        </div>
    </div>

    <div class="footer container-fluid">
        <div class="container next-actions">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <div class="form-group col-md-6 col-md-offset-2 col-sm-7 col-sm-offset-1 col-xs-8">
                        <select name="next-action" class="form-control">
                            <option>Save Verification</option>
                            {% if not case_id %}
                                <option>Move to Case</option>
                            {% endif %}
                            <option>Forward</option>
                            <option>Resolve</option>
                            <option>Revert to Report</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-4 submit-btn">
                        <button type="submit" form="verification-form" class="btn btn-success btn-lg pull-right" aria-haspopup="true" aria-expanded="true">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

{% endblock %}
