body{
  background-color:#F5F8F7;
  background-image: url("../img/pw_maze_white.png");
  font-family: 'PT Sans', sans-serif;
  padding-bottom: 0;
}

.btn{
  margin-top:20px;
}

.espanol-link{
  font-weight: bold;
  color:#fff;
  text-decoration: underline;
  font-size:16px;
  padding-top: 10px;
  padding-right:20px;
}

.espanol-link:hover{
  color:#1F4E81;
}

.issue-intro, .contact-intro, .finish-intro{
  padding-top:25px;
}

h1{
  margin-bottom:20px;
  font-weight: 700;
}


h4{
  font-weight:700;
  color:#1F4E81;
  font-size:22px;
  margin-bottom:30px;
}

.header-content h4{
  margin-bottom:10px;
  margin-top:30px;
  font-size:18px;
  line-height: 1.5;
}

.common-issues li{
  padding-right: 20px;
}

.common-issues{
  padding-bottom: 0;
  color:#1F4E81;
  font-size: 14px;
}

ul {
  padding-left: 0;
}

.errorlist li {
  color: red;
}

li {
  list-style-type: none;
}

.intake-header h1{
  margin-bottom:10px;
  color:#1F4E81;
}

.intake-header p{
  color:#1F4E81;
  line-height: 1.5;
  font-size:16px;
}

.intake-header .container{
  padding:25px;
  background-color: #56CDFF;

}

.header-content{

  padding-bottom:25px;
}

form{
  margin-left:20px;
}

.container{
  background-color: #ffffff;
  padding-bottom:100px;

}

.intake-body{
  min-height:600px;
  padding-top:40px;
}


.form-group{
  margin-bottom:35px;

}

.form-control{
  border-color: #ddd;
  box-shadow:none;
  height:40px;
  color:#696969;
}

label{
  font-weight:500;
  color:#3e3e3e;
}

.btn-success{
  background-color:#44C851;
  color:#ffffff;
  border-color:#44C851;
}

.btn-success:hover{
  background-color:#22A935;
  color:#ffffff;
  border-color:#22A935;
}


.footer{
  background-color: #1F4E81;
  padding:25px 15px;
}

.footer-items li{
  display:inline;
  margin-left: 30px;
}

.footer-items a{
  color:#188EF5;
}

.footer-items a:hover{
  color:#fff;
  text-decoration: none;
}

.footer p{
  color:#fff;
}

@media (min-width:992px) {
   .container {
    width:900px
  }

  .footer{
    padding:25px 100px 15px;
  }



}

.intake-body a{
  margin-right:20px;
  margin-top:0;
}

.intro-question h1{
  margin-bottom:20px;
}



@media (max-width:560px) {
  .btn{
    display:block;
    margin-bottom:20px;
  }

  .intake-header .container{
    padding-left:15px;
    padding-right:15px;
  }
}
