[class*="layout-minor"] {
    width: 26%;
    float: left;
    }

[class*="block-"][class*="layout-minor"] {
    width: calc(26% - 36px);
    }
    
.layout-minor-invert {
    float: right;
    clear: none;
    }

[class*="layout-major"] {
    float: right;
    width: 70%;
    clear: none;
    }

[class*="block-"][class*="layout-major"] {
    width: calc(70% - 36px);
    }

.layout-major-invert {
    float: left;
    clear: both;
    }


.layout-breve {
    width: 96%;
    padding: 3em 2%;
    max-width: 80em;
    margin: 0 auto;
    float: none;
    }

[class*="block-"][class*="layout-breve"] {
    width: calc(96% - 36px);
    }

[class*="block-"][class*="layout-breve-thin"] {
    width: calc(96% - 36px);
    }

.detail-modal { background-color: lightgrey; }
#map { height: 280px; }

#saveForm {
    margin-left: auto;
    margin-right: auto;

}

.layout-breve-thin {
    padding: 1em 2%;
    }

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}

th, td { padding: 10px 15px; }

th, td { text-align: center; }

table { width: 100%; }
