*{
  font-family: 'PT Sans', sans-serif;
}



/**Table**/
.table{
  margin-bottom:0;
  font-size:14px;
  color:#3e3e3e;
}

.table-wrapper{
  border:1px solid #eeeeee;
  border-radius:4px;
  overflow: hidden;
  margin-bottom:20px;
}

thead{
  background-color:#E8E8E8;
  color:#3e3e3e;
  border-bottom:none;
}

th{
  font-weight: normal;

}

.table>thead>tr>th, .table>tbody>tr>td{
  padding-top: 15px;
  padding-bottom:8px;
  padding-left: 25px;
  border-color:#eeeeee;
}
